html
{
scroll-behavior: smooth;
}

*
{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin:0;
  background-color: #040714;
  color: #f9f9f9;
  font-family: Avenir-Roman,sans-serif;
}

a{
  text-decoration: none;
  color:#f9f9f9;
}

@media(width>=768px)
{
  body{
    font-size: 16px;
  }
}

@media(width>=480px)
{
  body{
    font-size:15px;
  }
}

@media(width<480px)
{
  body{
    font-size: 14px;
  }
}